.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.landing-hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.landing-products {
  padding: 4rem 0;
  background-color: var(--secondary-color);
} 